// HEADER
.layout-transparent {
  background: url('https://download.unsplash.com/photo-1429305336325-b84ace7eba3b') center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}


// FEED

// GRID
.mdl-cell
  float left

// CARDS
.demo-card-wide.mdl-card {
   width: 100%;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
    background-position center center
    background-size cover
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

